 <div class="pagination">
   <% if (prevPagination) { %>
   <a href="/article/page/<%= page - 1 %>" class="page-btn prev">←</a>
   <% } %>

   <% for (let i = 1; i <= pageCount; i++) { %>
   <% if (page == i) { %>
   <a href="/article/page/<%= i %>" class="page-number active"><%= i %></a>
   <% continue } %>
   <a href="/article/page/<%= i %>" class="page-number"><%= i %></a>
   <% } %>

   <% if (nextPagination) { %>
   <!-- <span class="dots">...</span> -->
   <a href="/article/page/<%= page + 1 %>" class="page-btn next">→</a>
   <% } %>
 </div>