<%- include('../../partials/head') %> <%- include('../../partials/navbar-admin') %>
<section class="container">
   <div class="table-header">
            <h1>Tabela de categorias</h1>
            <a href="/admin/category/new" class="btn btn-primary" >Nova categoria</a>
        </div>
        <div class="table-wrapper">
            <table id="dataTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Slug</th>
                        <th>Data de Criação</th>
                        <th>Última Modificação</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                    <% categories.forEach(category => { %>
                       <tr>
                        <td><strong><%= category.id %></strong></td>
                        <td class="title" title="<%= category.title %>"><strong><%= category.title %></strong></td>
                        <td class="slug" title="<%= category.slug %>"><span class="table-badge"><%= category.slug %></span></td>
                        <td><%= formatDateTime(category.createdAt) %></td>
                        <td><%= formatDateTime(category.updatedAt) %></td>
                        <td>
                            <div class="table-actions">
                                
                                <a href="/admin/category/edit/<%= category.id %>" type="submit" class="btn-edit">✏️ Editar</a>
                               
                                <form action="/category/delete" method="post" onsubmit="actionConfirm(event, this)">
                                    <input type="hidden" name="id" value="<%= category.id %>">
                                    <button type="submit" class="btn-delete" >🗑️ Excluir</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</section>
<%- include('../../partials/footer') %>
<script>
    function actionConfirm(event, form) {
    event.preventDefault();

    const itemDelete = confirm("Deseja deletar esta categoria?");

    if (itemDelete) form.submit();
}

</script>