<%- include('../../partials/head') %> <%- include('../../partials/navbar-admin') %>
<section class="container">
        <div class="table-header">
            <h1>Tabela de artigos</h1>
            <a href="/admin/article/new" class="btn btn-primary" >Novo artigo</a>
        </div>
        <div class="table-wrapper">
            <table id="dataTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Slug</th>
                        <th>Categoria</th>
                        <th>Data de Criação</th>
                        <th>Última Modificação</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                    <% articles.forEach(article => { %>
                       <tr>
                        <td><strong><%= article.id %></strong></td>
                        <td class="title" title="<%= article.title %>"><strong><%= article.title %></strong></td>
                        <td class="slug" title="<%= article.slug %>"><span class="table-badge"><%= article.slug %></span></td>
                        <td><%= article.category?.title || false %></td>
                        <td><%= formatDateTime(article.createdAt) %></td>
                        <td><%= formatDateTime(article.updatedAt) %></td>
                        <td>
                            <div class="table-actions">
                                
                                <a href="/admin/article/edit/<%= article.id %>" type="submit" class="btn-edit">✏️ Editar</a>
                               
                                <form action="/article/delete" method="post" onsubmit="actionConfirm(event, this)">
                                    <input type="hidden" name="id" value="<%= article.id %>">
                                    <button type="submit" class="btn-delete" >🗑️ Excluir</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</section>
<%- include('../../partials/footer') %>
<script>
    function actionConfirm(event, form) {
    event.preventDefault();

    const itemDelete = confirm("Deseja deletar esse artigo?");

    if (itemDelete) form.submit();
}
</script>